<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Árbol de Decisiones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>{{ node.question }}</h1>
    <form action="{{ url_for('handle_decision') }}" method="post">
        {% for option in node.options %}
        <label>
            <input type="radio" name="decision" value="{{ option.result }}" required>{{ option.text }}
            <input type="hidden" name="decision_text" value="{{ option.text }}">
        </label><br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
